<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
	  <meta name="keywords" content="Shan Lab" />
	  <meta name="description" content="Oomycete; Phytophthora infestans; Phytohpthora sojae; Phytohpthora parasitica; potato late blight" />
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/normalize.css">
	  <link rel="stylesheet" href="/css/menu.css">
      <title>{{ page.title }}</title>
   </head>
   
   <body>
      <main>
         <header>

			 <div id="logo">
				 <table>
					 <tbody>
						 <tr>
							 <td><a href="/"><img src="/images/logo.png" valign="top"/></a></td>
							 <td>
								 <h2>西北农林科技大学单卫星实验室</h2>
								 <h3>Shan Lab, Northwest A&F University</h3>
							 </td>
						 </tr>
					 </tbody>
				 </table>
			 </div>
			 <br>
			 <br>
			 <br>

			 <br>
			 		 <div id='cssmenu'>
			 		 <ul>
			 		    <li><a href='index.html'><span>研究简介</span></a></li>
			 		    <li><a href='people.html'><span>研究人员</span></a></li>
			 		    <li class='last'><a href='publication.html'><span>发表文章</span></a></li>
			 		 </ul>
			 		 </div>

			 <br>
			 <p>
			 
         </header>


		 {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                &copy 2011 - 2014 保留所有权利<br />
                通讯地址：陕西杨凌邰城路3号西北农林科技大学科研主楼1104室 邮编：712100<br />
				电话：029-8708 0102 传真 029-8708 0062<br />

              </p>
            </div>
            </div>
          </div>
        </div>
      </main>
   </body>
</html>
